<header [ngClass]="{'masthead': displayHtml, 'adjust': !displayHtml}"  class="bg-primary text-white text-center">
  <div class="container d-flex align-items-center flex-column" *ngIf="displayHtml" id="headerId">
    <!-- Masthead Avatar Image--><!--img class="masthead-avatar mb-5" src="assets/photo_maman2-removebg-preview.png" alt=""-->
    <!-- Masthead Heading-->
    <!--h1 class="masthead-heading mb-0">GAGNEZ DU TEMPS, COMMANDEZ!</h1-->
    <!-- Icon Divider-->
    <!-- Masthead Subheading-->
    <mdb-carousel class="carousel slide carousel-fade" [animation]="'fade'">
      <mdb-carousel-item>
        <img class="d-block w-100" src="assets/presentation_robes.jpg" alt="First slide" >
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="assets/presentation_masks.jpg" alt="Second slide">
      </mdb-carousel-item>
      <mdb-carousel-item>
        <img class="d-block w-100" src="assets/presentation_bijoux.jpg" alt="Third slide">
      </mdb-carousel-item>
    </mdb-carousel>
    <p class="pre-wrap masthead-subheading font-weight-light mb-0">{{'PRESENTATION' | translate}} <br/> <span class="atelier">{{'BUILD_PLACE' | translate}}</span></p>
  </div>
</header>
