.adjust {
  margin-top: 100px ;
}

.bg-primary {
  background-image: url('/assets/----/delice_eternel.png');
  background-color: #17a2b8 !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.masthead .masthead-avatar {
  width: 13rem;
}

.atelier {
  font-size: 15px;
  font-style: italic;
}
