.adjust {
  margin-top: 100px;
}

.bg-primary {
  background-color: #17a2b8 !important;
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.masthead .masthead-avatar {
  width: 13rem;
}

.atelier {
  font-size: 15px;
  font-style: italic;
}

.masthead {
  padding-top: calc(4rem + 74px) !important;
  padding-bottom: 6rem !important;
}

@media (max-width: 768px) {
  .masthead {
    padding-top: calc(1rem + 56px) !important;
    padding-bottom: 1rem !important;
  }
}

