<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <div class="text-center">
      <h2 class="page-section-heading d-inline-block text-white">À PROPOS</h2>
    </div>
    <!-- Icon Divider-->
    <div class="divider-custom divider-light">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- About Section Content-->
    <div class="row">
      <div class="col-lg-4 ml-auto">
        <p class="pre-wrap lead">Délice éternel est un prêt à porter de Libreville qui vous propose des vêtements africains pour tous les âges. Vous pouvez également demander un modèle précis et nous le cousons pour vous! Vous avez une importante commande à réaliser? Contactez-nous pour affiner votre demande.  Nous faisons le maximum pour vous livrer très rapidement où que vous soyez!</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="pre-wrap lead">Ce site a été conçu par la société up2date-it (up2dateit@gmail.com). En cas de difficultés rencontrés sur ce site ou avec votre commande, n'hésitez pas à envoyer un message à cette adresse en détaillant de façon claire votre problème. Laissez vos coordonnées, nous vous rappellerons dès que possible! Vos préoccupations sont les nôtres!</p>
      </div>
    </div>
  </div>
</section>
