<section class="page-section bg-primary text-white mb-0" id="about">
  <div class="container">
    <!-- About Section Heading-->
    <div class="text-center">
      <h2 class="page-section-heading d-inline-block text-white">{{'ABOUT' | translate}}</h2>
    </div>
    <!-- Icon Divider-->
    <app-icone-divider></app-icone-divider>
    <!-- About Section Content-->
    <div class="row text-justify">
      <div class="col-lg-4 ml-auto">
        <p class="pre-wrap lead">{{'ABOUT_DELICE_ETERNEL' | translate}}</p>
      </div>
      <div class="col-lg-4 mr-auto">
        <p class="pre-wrap lead">{{'ABOUT_WEBDESIGNER' | translate}}</p>
      </div>
    </div>
  </div>
</section>
