.custom-btn {
  cursor: pointer;
  font-size: 1.2rem;
  line-height: 1;
  width: 1.4rem;
  height: 1.4rem;
  vertical-align: middle;
}

.fb-color {
  color: #3578e5 !important;
}
.twiter-color {
  color: rgba(29,161,242,1.00) !important;
}

.align-buttons {
  padding: 4px 0;
}
