<!--Section: Block Content-->
<main>
  <div class="container">
    <section>
      <!--Grid row-->
      <!--Grid column-->
      <!-- Card -->
      <div [formGroup]="itemGroup" class="card-body" *ngIf="itemGroup">
        <button type="button" class="close" (click)="close()">
          <span aria-hidden="true" id="closeAlert"><i class="dsicon-close"></i></span>
        </button>
        <div class="row mb-lg-12">
          <div class="col-md-7 col-lg-5 col-xl-5">
            <div class="view zoom overlay z-depth-1 rounded mb-3">
              <img class="img-fluid w-100"
                   src="{{itemGroup.get('path').value}}" alt="{{itemGroup.get('reference').value}}">
              <a>
                <div class="mask">
                  <img class="img-fluid w-100" src="{{itemGroup.get('path').value}}">
                  <div class="mask rgba-black-slight"></div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-5 col-lg-7 col-xl-7" formGroupName="basketInfos">
            <div>
              <div class="d-flex justify-content-between">
                <div>
                  <h5>{{itemGroup.get('reference').value}}</h5>
                  <p class="mb-3 text-muted text-uppercase small"><strong>Catégorie:</strong>&nbsp;
                    {{itemGroup.get('category').value}}
                  </p>
                  <p class="mb-2 text-muted text-uppercase small"><strong>Modèle:</strong>&nbsp;
                    <select type="text"
                            id="model"
                            name="model"
                            formControlName="selectedModel"
                            class="form-control">
                      <option value="MODEL_UNIQUE" selected>Modèle unique</option>
                    </select>
                  </p>
                  <p class="mb-3 text-muted text-uppercase small"><strong>Tailles:</strong>&nbsp;
                    <select id="size"
                            name="size"
                            formControlName="selectedModel"
                            class="form-control"
                            tabindex="2">
                      <option disabled selected value="">Choisissez</option>
                      <option *ngFor="let s of sizes" [value]="s.value">{{ s.label }}</option>
                    </select>
                  </p>
                </div>

                <!-- div class="skin-light def-number-input number-input safari_only mb-0"-->
                <div class="def-number-input number-input safari_only mb-0">
                  <button (click)="stepDown()"
                          class="minus"></button>
                  <input class="quantity" name="selectedQuantity" value="1" type="number"
                         formControlName="selectedQuantity">
                  <button (click)="stepUp()"
                          class="plus"></button>
                </div>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div>
                  <a (click)="toogleSelect(itemGroup.value)" type="button"
                     class="card-link-secondary small text-uppercase btn btn-light">
                    <i class="fas fa-trash-alt mr-1"></i> Supprimer </a>
                  <!--a href="#!" type="button" class="card-link-secondary small text-uppercase">
                  <i class="fas fa-heart mr-1"></i> Move to wish list </a-->
                </div>
                <p class="mb-0"><span><strong><i>0</i></strong></span></p>
              </div>
            </div>
            <hr class="mb-4">
          </div>
        </div>
      </div>
    </section>
  </div>
</main>


