<section>
  <!-- Grid row -->
  <div class="row">
    <!-- Grid column -->
    <div class="col-md-12 mb-12">
      <!-- Card -->
      <div class="">
        <div class="view zoom overlay z-depth-2 rounded">
          <img class="img-fluid w-100"
               src="assets/{{data.portfolioDirectory}}/{{data.portfolioImagePrefix}}-{{photoIndexToPrint}}.png" alt="Sample">
          <a [routerLink]="[data.portfolioLink]">
            <div class="mask">
              <img class="img-fluid w-100"
                   src="assets/{{data.portfolioDirectory}}/{{data.portfolioImagePrefix}}-{{photoIndexToPrint}}.png">
              <div class="mask rgba-black-slight"></div>
            </div>
          </a>
        </div>
        <div [routerLink]="[data.portfolioLink]" class="text-center pt-4 portfolio-item mx-auto">
          <h5>{{data.portfolioName}}</h5>
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
          </div>
          <p class="mb-2 text-muted text-uppercase small ">voir les produits</p>
        </div>
      </div>
      <!-- Card -->
    </div>
    <!-- Grid column -->
  </div>
  <!-- Grid row -->
</section>
<!--Section: Block Content-->

