<div class="col-md-6 col-lg-4 mb-5">
  <div [routerLink]="[portfolioLink]" class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
    </div>
    <img class="img-fluid displayed" src="assets/portfolio/{{portfolioImage}}" alt="{{portfolioName}}"/>
    <p> {{portfolioName}}</p>
  </div>
</div>

<div class="col-md-6 col-lg-4 mb-5">
  <div [routerLink]="['/masks']" class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
      <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
    </div>
    <img class="img-fluid displayed" src="assets/portfolio/mask-45-removebg-preview.png" alt="Circus Tent"/>
    <p> Masques</p>
  </div>
</div>

