.adjust {
  margin-top: 70px ;
}

.bg-primary {
  background-image: url('/assets/mask-3-removebg-preview.png');
  background-color: #17a2b8 !important;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
}

.masthead .masthead-avatar {
  width: 13rem;
}

.atelier {
  font-size: 15px;
  font-style: italic;
}

.masthead .masthead-heading {
  font-size: 1.55rem;
}

.slogan {
  position: relative;
  bottom: 0;
}
