img.displayed{
  display: block;
  margin:0 auto;
}

.img-fluid, .img-thumbnail {
  width: auto;
  max-width: 80%;
  max-height: 100%;
}

.display {
  display: flex;
  justify-content: center;
}

.selected {
  border: 5px double rgba(28,110,164,0.27);
  border-radius: 6px 6px 6px 6px;
}
