<header>
  <div class="jumbotron color-grey-light mt-70">
    <div class="d-flex align-items-center h-100">
      <div class="container text-center">
        <h3 class="mb-0">{{category.title | translate}}
        </h3>
        <p class="mb-2 text-muted">{{category.summary | translate}}</p>
        <app-category-buttons [categoryToAvoid]="category.name" [categoryInfos]="categoryInfos"
          (navigateAway)="gotoTarget($event)">
        </app-category-buttons>
      </div>
    </div>
  </div>
</header>
<div class="container fixed-sn skin-light mdb-skin-custom">
  <main style="padding-left: 0">
    <div class="container-fluid mt-0">
      <div class="row justify-content-center text-center">
        <!--Section: Block Content-->
        <section>
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            @for (item of category.items; track item) {
            <div class="col-md-4 mb-4 col-sm-auto" [ngClass]="item.selected ? 'selected' : ''">
              <!-- Card -->
              <div class="item-card" (click)="openChoices(item)">
                <div class="view zoom overlay z-depth-2 rounded image-wrapper">
                  <img class="img-fluid centered-img" [src]="item.path" [alt]="item.reference">
                  <div class="mask rgba-black-slight"></div>
                  @if (item.selected) {
                    <div class="cart-badge"><i class="fas fa-shopping-cart"></i></div>
                  }
                </div>
                <div class="text-center pt-2 pb-2">
                  <span class="item-ref">REF: {{item.reference}}</span>
                  <span class="item-price">{{ pricing.format(item.price) }}</span>
                </div>
              </div>
              <!-- Card -->
            </div>
            }
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </section>
      </div>
    </div>
  </main>
</div>
<!--Section: Block Content-->