<header>
  <div class="jumbotron color-grey-light mt-70">
    <div class="d-flex align-items-center h-100">
      <div class="container text-center">
        <h3 class="mb-0">{{category.title | translate}}
        </h3>
        <p class="mb-2 text-muted">{{category.summary | translate}}</p>
        <app-category-buttons
          [categoryToAvoid]="category.name"
          [categoryInfos]="categoryInfos"
          (navigateAway)="gotoTarget($event)">
        </app-category-buttons>
      </div>
    </div>
  </div>
</header>
<div class="container fixed-sn skin-light mdb-skin-custom">
  <main style="padding-left: 0">
    <div class="container-fluid mt-0">
      <div class="row justify-content-center text-center">
        <!--Section: Block Content-->
        <section>
          <!-- Grid row -->
          <div class="row">
            <!-- Grid column -->
            <div class="col-md-4 mb-4 col-sm-auto" *ngFor="let item of category.items"
                 [ngClass]="item.selected? 'selected': ''"
                 (change)="toogleSelect(item)">
              <!-- Card -->
              <div class="">
                <div class="view zoom overlay z-depth-2 rounded">
                  <img class="img-fluid w-100" src="{{item.path}}" alt="Sample">
                  <a>
                    <div class="mask">
                      <img class="img-fluid w-100" src="{{item.path}}">
                      <div class="mask rgba-black-slight"></div>
                    </div>
                  </a>
                </div>
                <div class="text-center pt-4">
                  <span>REF: {{item.reference}}</span>
                  <!--h6 class="mb-3">12.99 $</h6-->
                  <p class="mb-2 text-muted text-uppercase small">
                    <button type="button" class="btn btn-light btn-sm mr-0 mb-0" (click)="toogleSelect(item)"><i
                      class="fas fa-shopping-cart pr-2"></i>
                      <span *ngIf="item.selected">{{'CANCEL' | translate}}</span>
                      <span *ngIf="!item.selected">{{'SELECT' | translate}}</span>
                    </button>
                    <button type="button" class="btn btn-light btn-sm mr-0 mb-0" (click)="openChoices(item)"><i
                      class="fas fa-info-circle pr-2"></i>{{'DETAILS' | translate}}
                    </button>
                  </p>
                  <hr *ngIf="!item.selected">
                </div>
              </div>
              <!-- Card -->
            </div>
            <!-- Grid column -->
          </div>
          <!-- Grid row -->
        </section>
      </div>
    </div>
  </main>
</div>
<!--Section: Block Content-->
