<div class="rouded-form">
  <form (ngSubmit)="signIn()" [formGroup]="logging">
    <h3>Bienvenue</h3>
    <h5>Veuillez vous identifier</h5>
    <div class="form-group">
      <label for="email">
        Adresse e-mail
      </label>
      <input aria-describedby="emailHelp" class="form-control" formControlName="username" id="email" type="email">
      <i class="bar"></i>
    </div>
    <div class="form-group">
      <label for="password">
        Mot de passe
      </label>
      <input autocomplete="email" formControlName="password" id="password" type="password" class="form-control">
      <i class="bar"></i>
      <div class="wrapper-mdp">
        <a class="app-link" routerLink="/auth/forgot_password" tabindex="-1">
          Mot de passe oublié ?
        </a>
      </div>
    </div>
    <button id="connextionButton" *ngIf="!loading" [disabled]="!logging?.valid" class="btn-connexion btn-primaire-h40 "
            type="submit">
      Connexion
    </button>

    <button *ngIf="loading" class="btn-spinner btn-primaire-h40" disabled type="button">
      <i class="fa fa-spinner animate rotation"></i>
    </button>
    <ng-container *ngIf="error">
      <span class="app-auth-error">{{error.message || error}}</span>
    </ng-container>
  </form>
  <div class="app-auth-divider">
    <span>ou</span>
  </div>
  <!--button id="createAccountButton" routerLink="/auth/signup" class="btn-creercompte btn-secondaire-h40">Créer un
    compte
  </button-->
  <p>Identifiez vous via gmail ou créer un compte : </p>
  <social-login [signInOptions]="signInOptions"></social-login>
</div>
